
@font-face{
    font-family: 'norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
    url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    /* font-size: 5.3rem; */
}




* {
    margin: 0;
}


.main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.image-container {
    background-image: url('./images/john-noonan-E-9CFTftQh4-unsplash.jpg');
    background-size: cover;
    width: 60vw;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 20px 0px;
}

.image-container > p, h1 {
    padding: 20px;
    text-align: center;
}

.image-container > h1 {
    background-color: rgba(0, 0, 0, 0.4);
    margin-top: 15vh;
    font-size: 5.2rem;
    font-family: 'norse' ;
}

.content-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-container > * {
    display: flex;
    align-items: flex-start;
}

.content-container > div:nth-child(odd) {
    background-color: rgba(0, 51, 102, 0.03);
    height: 30vh;
}

.info-section {
    display: flex;
    justify-content: flex-end;
    padding: 0 10rem 5rem 4rem;
}

.info-section > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 2em;
    height: 100%;
    flex-wrap: wrap;
}

.info-section > div > p {
   font-size: 1.5em;
   font-weight: bold;
}

form{
    padding: 20px 40px;
    width: 100%;
    height: 100%;
}

form > div  {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 1.5rem;
    margin-top: 1vh;
}

form > div > div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

form > div > div > p {
    display: flex;
    flex-direction: column;
    gap: 0.2vh;
}

form > h2 {
    text-align: start;
    padding: 10px;
}

input {
    height: 2vh;
    border-radius: 5px;
    border: 1px solid lightgrey
}

button {
    background-color: rgba(0, 153, 204, 0.9);
    height: 3rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    font-weight: 550;
    text-align: center;
    padding: 1px 3.5rem;
    margin-bottom: 3vh;
}


a:link {
    color: rgb(133, 213, 250);
    text-decoration: none;
}

a:visited {
    color: rgb(12, 84, 143);
}

a:hover {
    color: lightblue;
}

a:visited:not(:hover) {
    color: rgb(64, 143, 207);
}

.submit-section {
    padding: 5vh;
}

.submit-section p {
    text-align: center;
    font-size: 1.3rem;
}
